body{
  font-family: arial;
}
header{
  margin-bottom: 0px;
  background-image: url(facebook.png);
  background-repeat: no-repeat;
  background-size: cover;
}
header ul{
  padding-top: 90px;
  margin-left: 645px;
}
header ul li{
  margin: 10px;
  display: inline-block;
  list-style-type: none;
}
header ul li a{
  color: white;
  text-decoration: none;
}
.principal{
  width: 1080px;
  height: ;
  position: relative;
  left: 270px;
  right: ;
  float: left;
}
.welcome{
  color: white;
  background-color: #046088;
}
.border{
  border: black 1px solid;
  border-color:#046088;
}
.margin{
  margin-left: 15px;
}
.buttons li{
  display: inline-block;
  list-style-type: none;
}
.buttons a{
  padding: 0px 10px;
  color: white;
  display: inline-block;
  text-decoration: none;
  background-color: #046088;
}
.secundario{
  float: left;
  width: 250px;
  height: ;
  position: relative;
  left: -1070px;
}
.border2{
  border: black 1px dashed;
}
.border2 ul li{
  list-style-type: none;
}
.buttons2 ul li a{
  text-decoration: none;
  background-color: #046088;
  color: white;
  padding: 0px 10px;
}
footer{
  clear:both;
}
footer a{
  color: #046088;
  text-decoration: none;
  padding:5px;
}
